<!DOCTYPE HTML>
<html>
	<head>
		<title>MegaFit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/velocity-main.css') }}">

	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1>AI Powered Personal Trainer</h1>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>								
								<li><a href="locator">Gym Locator</a></li>
								<li><a href="catalog">Workout Catalog</a></li>
								<li><a href="calorie">Tracker</a></li>
								<li><a href="upload">Video Upload</a></li>
								<li><a href="login">Profile</a></li>
							</ul>
						</nav>

				</section>

		

              			
			<!-- Footer -->
				<section id="footer" class="wrapper">
					
					<div class="container">
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Contact Form -->
									<section>
										<div class="footer-image">
											<img src="/static/img/footerLogo.png" alt="MegaFit" />
										</div>
									</section>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Contact -->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-link">Helpful Links</h3>
													<p>
														<a href="catalog">Workout Catalog</a><br />
														<a href="locator">Gym Locator</a><br />
														<a href="calorie">Tracker</a><br />
														<a href="login">Profile</a>
													</p>
													
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Developers</h3>
													<p>
														<a href="#">Ben Cogdell</a><br />
														<a href="#">Michael Canales</a><br />
														<a href="#">Tommy Medina-Herrera</a><br />
														<a href="#">Braden Schlueter</a><br />
														<a href="#">Samuel Wait</a>
													</p>
												</section>
											</div>
										
	
										</div>
									</section>

							</div>
						</div>
						<div id="copyright">
							<ul>
								<li>&copy; Copyright 2024.</li><li>Design: <a href="https://www.linkedin.com/in/bradenjschlueter/">Braden S.</a></li>
							</ul>
						</div>
					</div>
				</section>

		</div>


		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chat-button.js"></script>

	</body>
</html>