{% extends "calorie.html" %}

{% block body %}
<style>
h1.text-center{
	text-align: center;
}
.content {
	margin-left: 220px; /* Adjust this value to match the width of the sidebar */
	padding: 20px;
}
.form{
	text-align: center;
}
form input#weight {
	width: 400px;
	background-color: #fafafa;
	display: inline-block;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-size: 1.1em;
}
.calculator{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: auto;
}
.form-group{
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-group label{
	margin-right: 10px;
}
.btn {
    margin-left: 10px; /* Add some margin between the text box and the submit button */
}
.content {
	flex: 1;
	padding: 20px;
}
</style>

<div class="container">
	<br><br>
	<h1 class= "text-center">
		MegaFit Tracker
	</h1>
	<div class="calculator"></div>
		<div class="jumbo">
			<h3>This is the Calculator page
				<p>This is where the user can use the Fitness Calculator </p>
				<p>The Calculator page is in progress</p>
			<form method="POST" action="{{ url_for('calculator') }}">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.weight.label }}
					{{ form.weight(class_="form-control") }}
					{% for error in form.weight.errors %}
					<div class="flash">{{ error }}</div>
					{% endfor %}
					{{ form.submit(class="btn btn-primary") }}
				</div>
			</h3>
		</div>
	</div>
</div>

<div class="sidebar">
	<h3>Navigation</h3>
	<ul>
		<li><a href="/calorie">Tracker Home</a></li>
		<li><a href="input">Data Input</a></li>
		<li><a href="calculator">Calculator</a></li>
		<li><a href="metrics">Metrics</a></li>
	</ul>
</div>


{% endblock %}