<!DOCTYPE HTML>
<html>
	<head>
		<title>MegaFit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/velocity-main.css') }}">

	<script> 
		window.alert("Welcome to MegaFit! Please login to access your profile or sign up to create a new account.");
	</script>
	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1>MegaFit | A Fitness Application</h1>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>								
								<li><a href="locator">Gym Locator</a></li>
								<li><a href="catalog">Workout Catalog</a></li>
								<li><a href="calorie">Tracker</a></li>
								<li><a href="upload">Video Upload</a></li>
								<li><a href="login">Profile</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">Why MegaFit?</div>
					<div class="container">
						
						<p class="style2">
							Better Health, <br class="mobile-hide" /> A Better <strong>You</strong>
						</p>
						<p class="style3">This platform is tailor-made for both fitness enthusiasts eager to diversify their workout routines and beginners seeking a friendly introduction to exercise.
              Whether you're passionate about fitness and want to expand your knowledge or just starting out on your fitness journey, our all-in-one solution is here to guide you. It's crafted to meet the needs of all levels, making health and wellness accessible and enjoyable for everyone.</p>
						
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">Features</div>
					<div class="container">

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>Out Fitness Application Allows Users to Train Smart</h2>
									<p>By using AI technologies, powered with an extensive database of workouts, we can provide customized workout routines while tracking all aspects of your health</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<a href="calorie">
												<section>
												<h3 class="icon solid fa-calculator">Tracker</h3>
													<p>Tailored daily calorie estimates for your goals</p>
												</section>
											</a>
										</div>
										<div class="col-6 col-12-medium">
											<a href="catalog">
												<section>
													<h3 class="icon solid fa-book">Workout Catalog</h3>
													<p>Explore targeted workouts for every muscle group</p>
												</section>
											</a>
										</div>
										<div class="col-6 col-12-medium">
											<a href="#">
												<section>
													<h3 class="icon solid fa-dumbbell">AI Personal Trainer </h3>
													<p>Chat with our AI for custom-tailored workouts</p>
												</section>
											</a>
										</div>
										<div class="col-6 col-12-medium">
											<a href="locator">
												<section>
													<h3 class="icon solid fa-compass">Gym Locator</h3>
													<p>Access our API to view gyms near you</p>
												</section>
											</a>
										</div>
										<div class="col-6 col-12-medium">
											<a href="upload">
												<section>
													<h3 class="icon solid fa-video">Visualized Workouts</h3>
													<p>View a database of workout videos focusing on proper form to better equipt yourself in the gym</p>
												</section>
											</a>
										</div>
										<div class="col-6 col-12-medium">
											<a href="login">
												<section>
													<h3 class="icon solid fa-fingerprint">Secure Profiles</h3>
													<p>Secure profiles with encrypted passwords to ensure the safety of your data</p>
												</section>
											</a>
										</div>
										
									</div>
								</div>
								
							</section>

					</div>
				</section>

			<!-- Highlights -->
			<!-- 
				<section id="highlights" class="wrapper style3">
					<div class="title">Project Highlights</div>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Highlight goes here</a></h3>
									<p>Description goes here</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Highlight goes here</a></h3>
									<p>Description goes here </p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Highlight goes here</a></h3>
									<p>Description goes here</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</section>

			-->

              			
			<!-- Footer -->
				<section id="footer" class="wrapper">
					
					<div class="container">
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Contact Form -->
									<section>
										<div class="footer-image">
											<img src="/static/img/footerLogo.png" alt="MegaFit" />
										</div>
									</section>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Contact -->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-link">Helpful Links</h3>
													<p>
														<a href="catalog">Workout Catalog</a><br />
														<a href="locator">Gym Locator</a><br />
														<a href="calorie">Tracker</a><br />
														<a href="login">Profile</a>
													</p>
													
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Developers</h3>
													<p>
														<a href="#">Ben Cogdell</a><br />
														<a href="#">Michael Canales</a><br />
														<a href="#">Tommy Medina-Herrera</a><br />
														<a href="#">Braden Schlueter</a><br />
														<a href="#">Samuel Wait</a>
													</p>
												</section>
											</div>
										
	
										</div>
									</section>

							</div>
						</div>
						<div id="copyright">
							<ul>
								<li>&copy; Copyright 2024.</li><li>Design: <a href="https://www.linkedin.com/in/bradenjschlueter/">Braden S.</a></li>
							</ul>
						</div>
					</div>
				</section>

		</div>


		<!-- Chatbot -->
		
		<section id="bottom-right-chatbot" class="bottom-right-chatbot-class">
			<div class="chat-box">
				<div class="chat-box-header">
					<a href="ai_bot">
						<h3>Message Us</h3>
						<p>
							<i class="fa fa-times"></i>
						</p>
				</div>
			</div>

			<div class="chat-button">
				<span></span>
			</div>

		
		  </section>	

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chat-button.js"></script>

	</body>
</html>