{% extends "calorie.html" %}

{% block body %}
<style>
	
h1.text-center{
	text-align:center;
}

.content {
	margin-left: 220px; /* Adjust this value to match the width of the sidebar */
	padding: 20px;
}

.content {
	flex: 1;
	padding: 20px;
}

</style>

<div class="container">
	<br><br>
	<h1 class= "text-center">
		MegaFit Tracker
	</h1>
	<div class="metrics">
		<div class="jumbo">
			<h3>This is the Metrics page
				<p>Users can view Metrics based on their exercise and fitness data</p>
				<p>The Metrics page will be completed in Sprint 3</p>
			<!-- Adding Metrics content-->
			</h3>
		</div>
	</div>
</div>

<div class="sidebar">
	<h3>Navigation</h3>
	<ul>
		<li><a href="/calorie">Tracker Home</a></li>
		<li><a href="input">Data Input</a></li>
		<li><a href="calculator">Calculator</a></li>
		<li><a href="metrics">Metrics</a></li>
	</ul>
</div>


{% endblock %}