{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Profile<h2>
    <h3>This is {{ session['username'] }}'s profile page<h3>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Height: {{ user.height }}</p>
    <p>Weight: {{ user.weight }}</p>
    <p>Age: {{ user.age }}</p>
  </div>

  <div class="centered-button">
    
    <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
  </div>
{% endblock %}
